.RandomCard {
    margin-top: 1rem;
    /* padding: 0 30px; */
}

.blueBox {
    /* justify-content: space-between; */
    /* gap: 2rem; */
    /* flex-direction: column; */
    /* background-image: url("../../assets//img/randomBg.svg"); */
    /* padding-left: 1rem; */
    display: flex;
    align-items: flex-end;
    color: #fafafa;
    background-color: #3DA0A7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets//img/randomBck.png");
    width: 90%;
    height: 170px;
    border-radius: 10px;
    padding: 1rem;
    overflow: hidden;
    margin-top: 0.6rem;
}

.randomDiv1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.randomTitle {
    width: 65%;
    font-size: 1.3rem;
    overflow: scroll;
    margin-bottom: 10px;
}

.randomCatAr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

}

/* .randomDiv2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    /* flex-direction: column;}  */

.randomBild {
    /* translate: 240% -10%; */
    width: 54%;
    border-radius: 50%;
    /* align-self: flex-end; */
    position: absolute;
    bottom: 46px;
    right: -34px;
}

.dotCat {
    display: flex;
    align-items: center;
    gap: 3px;
}

.randomLink {
    text-decoration: none;
}

@media only screen and (min-width:768px) {
    .RandomCard {
        width: 80%;
        font-size: 1.2rem;

    }

    .blueBox {
        height: 250px;
    }

    .randomTitle {
        font-size: 1.8rem;
    }

}

@media only screen and (min-width:992px) {
    .RandomCard {
        font-size: 1.6rem;
    }

    .blueBox {
        height: 300px;
    }

    .randomTitle {
        font-size: 2rem;
    }
}