.logoContainer {
    height: 100vh;
    background-color: rgb(61, 160, 167, 1);
    background-image: url(../../assets/img/Splash_Screen.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    display: flex;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Die Kombi aus position, top, left und transform hat das Logo in die Mitte gescheucht */