/* Das Hintergrund-blau hat folgende Werte: rgb(61, 160, 167, 1); */

@font-face {
    font-family: Montserrat;
    src: url("./assets//fonts/Montserrat-VariableFont_wght.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

html {
    max-width: 1200px;
    font-size: 16px;
}

p {
    font-size: 1rem;
}

.favoritePage {
    background-color: rgb(61, 160, 167, 1);
}

.constWrapper {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.constructionText {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 3rem;
}

.dummyLogo {
    width: 40%;
    margin: 0 auto;
    padding-top: 3rem;
}

.dummyLogo img {
    width: 100%;
}